# Node/npm
node_modules/
npm-debug.log
yarn-error.log
package-lock.json
yarn.lock

# Angular
/dist/
/e2e/*.log
/e2e/*.png
/e2e/*.xml
/e2e/*.html
/e2e/*.json
.angular/

# ASP.NET
/bin/
/obj/
/*.exe
/*.dll
*.log
*_i.c
*_p.c
*_i.h
*.ilk
*.meta
*.pdb
*.suo
*.user
*.tmp
*.tmp_proj
*_wpftmp.csproj
*.pidb
*.sln.docstates

# Visual Studio Code
.vscode/

# User-specific files
*.suo
*.user
*.sln.docstates

# Mac OS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
