/* Add application styles & imports to this file! */
@import "@angular/material/prebuilt-themes/indigo-pink.css";

.mat-horizontal-stepper-header-container {
  margin-bottom: 20px;
}

.mat-horizontal-stepper-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-bottom: -15px;
}
.mat-step-label {
  position: relative;
  top: 10px;
}

.mat-stepper-horizontal-line {
  margin: 0 -30px !important;
}

.mat-horizontal-stepper-header .mat-step-icon,
.mat-horizontal-stepper-header .mat-step-icon-not-touched {
  margin-right: 0 !important;
}

.fs-12 {
  font-size: 12px;
}

.w-70 {
  width: 70%;
}

.t-center {
  text-align: -webkit-center;
}